services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./backend/init-db/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./backend/init-db/data-events.json:/docker-entrypoint-initdb.d/data-events.json
      - ./backend/init-db/data-people.json:/docker-entrypoint-initdb.d/data-people.json
      - ./backend/init-db/data-event_attendees.json:/docker-entrypoint-initdb.d/data-event_attendees.json
      - ./backend/init-db/data-scans.json:/docker-entrypoint-initdb.d/data-scans.json
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/mydb
    depends_on:
      db:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - node_modules/

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    depends_on:
      - backend
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app
          ignore:
            - node_modules/

volumes:
  pgdata:
