.event-list {
  .filter-buttons-container {
    button {
      flex: 1;
    }
  }

  .event-list-container {
    .event {
      cursor: pointer;

      .event-content {
        margin-bottom: $spv--small;
      }
    }
  }
}
