.scanner-container {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#reader {
  border: none !important;
  width: 100%;
}

.force-sync-button {
  margin: 0 auto 1rem !important;
  display: block;
}
